body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #1a1a1a; /* Lighter black filling for the navbar */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allow nav items to grow */
    justify-content: center; /* Center the nav items */
}

.navbar-nav li {
    margin: 0 1rem;
}

.navbar-nav li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: color 0.3s, transform 0.3s;
}

.navbar-nav li a i {
    margin-right: 0.5rem;
}

.navbar-nav li a:hover {
    color: #ff6961;
    transform: translateY(-3px);
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 2rem; /* Align to the right */
}

.donate-button {
    background-color: #28a745;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #218838;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    margin-left: 1rem; /* Adjusted to move the icon to the left */
}

.navbar-toggle i {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px; /* Position below the navbar */
    right: 1rem; /* Align to the right side */
    background-color: #1a1a1a; /* Lighter black filling for the dropdown menu */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 200px; /* Set a fixed width for the dropdown menu */
    border: none; /* Remove the border */
    z-index: 1001; /* Ensure dropdown is above other elements */
    border-radius: 5px; /* Add rounded corners */
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    margin: 0;
}

.dropdown-menu ul li a {
    display: block;
    padding: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.dropdown-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu.active {
    display: block;
}

@media (max-width: 1024px) {
    .navbar-nav {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .dropdown-menu {
        width: 200px; /* Ensure the dropdown menu takes the fixed width */
        right: 1rem; /* Align the dropdown menu to the right side */
    }

    .navbar-toggle.active + .dropdown-menu {
        display: block;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/coding_bg.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.intro .container {
    padding: 2rem;
}

p {
    margin: 0;
    font-size: 2.5rem;
}

#adjective {
    color: #a101a1;
    text-shadow: 0 0 10px #a101a1, 0 0 20px #a101a1, 0 0 30px #a101a1;
}

#description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cursor {
    color: #FFFFFF;
    animation: blink 0.7s steps(1) infinite;
}

#life {
    color: #ff6961;
    display: inline-block;
    transform-origin: center;
}

.pulsating {
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30% {
        transform: scale(1.25);
    }
    20%, 40% {
        transform: scale(1);
    }
}

.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.cta-button i {
    font-size: 1.25rem;
}

.cta-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.scroll-down .arrow {
    font-size: 3rem;
    color: #a101a1;
    text-shadow: 0 0 10px #a101a1, 0 0 20px #a101a1, 0 0 30px #a101a1;
    cursor: pointer;
    transition: transform 0.3s;
}

.scroll-down .arrow:hover {
    transform: translateY(10px);
}

.scroll-button { 
    text-decoration: none; 
}

.projects, .about, .contact {
    padding: 4rem 2rem;
    text-align: center;
}

.projects h2, .about h2, .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item {
    background-color: #333333;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    width: calc(33% - 2rem);
}

.project-item h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.project-item p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.project-item a {
    color: #a101a1;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}

.about p, .contact p {
    font-size: 1.25rem;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}