body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.navbar-nav li {
    margin: 0 1rem;
}

.navbar-nav li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: color 0.3s, transform 0.3s;
}

.navbar-nav li a i {
    margin-right: 0.5rem;
}

.navbar-nav li a:hover {
    color: #ff6961;
    transform: translateY(-3px);
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.donate-button {
    background-color: #28a745;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #218838;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

.navbar-toggle i {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 1rem;
    background-color: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 200px;
    border: none;
    z-index: 1001;
    border-radius: 5px;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    margin: 0;
}

.dropdown-menu ul li a {
    display: block;
    padding: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.dropdown-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu.active {
    display: block;
}

@media (max-width: 1024px) {
    .navbar-nav {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .dropdown-menu {
        width: 200px;
        right: 1rem;
    }

    .navbar-toggle.active + .dropdown-menu {
        display: block;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/coding_bg.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.intro .container {
    padding: 2rem;
}

p {
    margin: 0;
    font-size: 2.5rem;
}

#adjective {
    color: #a101a1;
    text-shadow: 0 0 10px #a101a1, 0 0 20px #a101a1, 0 0 30px #a101a1;
}

#description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cursor {
    color: #FFFFFF;
    animation: blink 0.7s steps(1) infinite;
}

#life {
    color: #ff6961;
    display: inline-block;
    transform-origin: center;
}

.pulsating {
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30% {
        transform: scale(1.25);
    }
    20%, 40% {
        transform: scale(1);
    }
}

.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: normal;
}

.cta-button i {
    font-size: 1.25rem;
}

.cta-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
    text-decoration: none;
}

.cta-button:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.scroll-down .arrow {
    font-size: 3rem;
    color: #a101a1;
    text-shadow: 0 0 10px #a101a1, 0 0 20px #a101a1, 0 0 30px #a101a1;
    cursor: pointer;
    transition: transform 0.3s;
}

.scroll-down .arrow:hover {
    transform: translateY(10px);
}

.scroll-button { 
    text-decoration: none; 
}

.projects, .about, .contact {
    padding: 4rem 2rem;
    text-align: center;
}

.projects h2, .about h2, .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.search-bar {
    width: 50%;
    max-width: 400px;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    background-color: #2c2c2c;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item {
    background-color: #333333;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    width: calc(33% - 2rem);
    text-align: center;
}

.project-item h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project-item p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.tags {
    margin: 1rem 0;
}

.tag {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.tag:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
}

.more-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.more-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
}

.about p, .contact p {
    font-size: 1.25rem;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#project-search {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 60%;
    max-width: 400px;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    background-color: #2c2c2c;
    color: #FFFFFF;
}

.explore-more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.explore-more-button i {
    font-size: 1rem;
}

.explore-more-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #333333;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFFFFF;
}

.all-projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 0.5rem;
}

.popup .project-item h3 {
    margin: 0;
    flex: 1;
}

.popup .project-item .tags {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    justify-content: center;
}

.popup .project-item .more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    background-color: #a101a1;
    color: #FFFFFF;
    border: 2px solid #a101a1;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.popup .project-item .more-button i {
    font-size: 0.875rem;
}

.popup .project-item .more-button:hover {
    background-color: #870087;
    border-color: #870087;
}

.tags .tag {
    background-color: #4a4a4a;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #FFFFFF;
}

.project-item {
    background-color: #333333;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    width: calc(33% - 2rem);
    text-align: center;
}

.project-item h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project-item p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.tags {
    margin: 1rem 0;
}

.more-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.more-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
}

.section-header {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.section-header .line {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #a101a1;
}

.section-divider {
    width: 80%;
    margin: 2rem auto;
    border: 0;
    height: 1px;
    background: #4a4a4a;
}

.contact-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    border: 2px solid #4a4a4a;
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    font-weight: normal;
}

.contact-button i {
    font-size: 1.25rem;
}

.contact-button:hover {
    background-color: #2c2c2c;
    border-color: #5a5a5a;
    text-decoration: none;
}

.contact-button:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.about-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 2rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.vertical-divider {
    width: 1px;
    background: #4a4a4a;
    margin: 0 2rem;
    align-self: stretch;
}

.about, .contact {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}

.about .about-card, .contact .contact-card {
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
}

.about .about-card p, .contact .contact-card p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #FFFFFF;
}

.contact a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
}

.contact a:hover {
    text-decoration: none;
}

.section-header {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.section-header .line {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #a101a1;
}

@media (max-width: 768px) {
    .about-contact {
        flex-direction: column;
    }

    .about, .contact {
        margin: 1rem 0;
    }
}

footer {
    background-color: #6a0dad;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.75rem;
}

footer p {
    margin: 0.25rem 0;
}

footer a {
    color: #a101a1;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}
